* {
	box-sizing:border-box;
	margin:0;
}

a {
	color: #4078c0;
    text-decoration: none;
}

body {
	font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	min-width: 1020px;
    word-wrap: break-word;
}

header {
	height:60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

#githubIcon{
	float: left;
    margin-right: 10px;
    margin-left: 20px;
    color: #333;
    white-space: nowrap;
    font-size: 28px;

}

#searchBar {
    width: 500px;
    min-height: 26px;
    padding: 2px;
    font-size: 12px;
    line-height: 17px;
}

.nav-links a {
	padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}

img {
	height: 230px;
    width: 230px;
	display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
}

#container {
	/*background-color: lightblue;*/
	width:100%;
	padding-top:20px;
}

#profColumn {
	/*background-color: lightsalmon;*/
	width:25%;
	margin:auto;
	min-height:500px;
	float: left;
	padding-right: 10px;
    padding-left: 40px;
}

#repoColumn {
	/*background-color: red;*/
	float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.columns {
	display:inline-block;
	vertical-align: top;
	margin-top:2%;
}

li {
	margin: 0 0 8px;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #eee;
}

li a {
	font-size:24px;
	font:bolder;
}

.dateJoined {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 20px 0;
	margin: 20px 0;
    font-size: 14px;
    text-align:left;
}